*, *::after, *::before {
  box-sizing: inherit;
}

/* We are using INHERITANCE here */
/* Always do inheritance in body */

html {
  font-size: 62.25%;  // 1 rem = 10px;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;  
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body { /* Use body for inheritance */
  box-sizing: border-box;
  padding: 3rem;
  border: 1px solid;
  padding: 0;
  margin: 0;

  @include respond(tab-port) {
    padding: 0;
  }
}